/* Modificações da página até o limite máximo de 1005px de redimensionamento */
@media screen and (max-width:1005px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card {
        width: 100%;
    }
}