
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Importa a fonte "Roboto" do Google Fonts para uso no site */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
}

nav{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  position: absolute;
}

.logo{
  /* border: 3px solid red; */
  flex: 20%;
  color: white;
  font-size: 30px;
  text-align: left;
  padding-left: 50px;
  padding-top: 10px;
}

.grupo-topo{
  /* border: 3px solid blue; */
  flex: 80%;
}

.select-idioma{
    /* border: 3px solid green; */
    padding: 5px 15px;
    float: right;
    margin: 1%;
    background: none;
    color: white;
}

.btn-topo{
    /* border: 3px solid yellow; */
    background: red;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    float: right;
    margin: 1% 5% 0 1%;
}

header{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.9)), url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 8px solid #333333;
    padding-top: 120px;
    padding-bottom: 120px;
}

.miolo{
    /* border: 1px solid white; */
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 10px;
}

.miolo h1{
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 15px black;
}

.miolo h2{
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 15px black;
    padding: 10px;
    margin: 0;
}

.miolo h3{
    color: white;
    font-weight: 400;
}
.input-container{
    text-weight:400;
}
.input-email{
    width: 450px;
    height: 58px;
    padding: 30px 40px 20px 10px;
    margin-bottom: 2%;
    border: none;
}
 .btn-email{
    background: red;
    border: 1px solid red;
    color: white;
    width: 200;
    height: 60px;
    font-size: 30px;
    margin-left: 0;
}
section{
    display: flex;
    color: white;
    border-bottom: 8px solid #333333;
    margin-bottom: 2%;
}
section img{
    max-width: 100%;
}
section h2{
    font-size: 3rem;
}
section h3{
    font-size: 1.5rem;
    font-weight: 300;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
    padding: 35px;
}
.text-center{
   text-align: center; 
}
.pergunta{
    width: 100%;
    background: #333333;
    padding: 15px 0px 15px 25px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}
.resposta{
    display: none;
    width: 100%;
    background: #333333;
    padding: 15px 0px 15px 25px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}
.icon{
    float: right;
    margin-right: 5%;
}
footer{
    width: 100%;
    color: gray;
}
footer a{
    color: gray;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.no-padding{
    padding: 20px !important;
}
@media only screen and (min-width:768px) and (max-width:2000px){
    .container{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    } 
    .col-3{width: 25%} 
    /* 12/3 4 colunas de 25% totalizando 100% */
    .col-6{width: 50%} 
    /* 12/6 2 colunas de 50% totalizando 100%  */
    .col-12{width: 100%}
    /* 12/12 1 coluna de 100% totalizando 100% */
}
@media only screen and (min-width:333px) and (max-width:768px){
    [class*="col-"]{
        width: 100%;
        text-align: center;
    }
    .logo{
        padding: 0;
        text-align: center;
    }
    .miolo h1{
        font-size: 2.5rem;
    }
    input-email{
        width: 250px;
    }
    .grupo-topo{
        display: none;
    }
    @media only screen and (min-width:0px) and (max-width:333px){
     [class*="col-"]{
        width: 100%;
        text-align: center;
    }
    .logo{
        padding: 0;
        text-align: center;
    }
    .miolo h1{
        font-size: 1.5rem;
    }
    .input-email{
        width: 90%;
    }
    .grupo-topo{
        display: none;
    }
}
